@charset "UTF-8";

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

/* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #b2b2b2;
}

hr {
  margin: 50px 0 50px 0;
}

header {
  height: 80px;
  padding: 0 20px 0 0;
  background-color: #7377bf;
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .bell-icon {
  width: 20px;
  margin-right: 30px;
}

header .bell-icon .bell-svg-icon {
  fill: #fff;
}

header h1 {
  font-size: 1.4rem;
  margin-left: 10px;
}

header h1 sup {
  font-size: 0.6rem;
}

header h1 span,
header h1 sup {
  font-weight: 100;
}

header img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

header h3 {
  font-weight: 100;
  font-size: 1rem;
}

.search-btn a {
  position: absolute;
  right: 15px;
  top: 7px;
  color: #333;
}

.active {
  background-color: #81c98f;
  border-radius: 50px;
  color: #fff;
  padding: 0 10px 0 10px;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
  background-color: #7377bf;
  padding: 15px;
  color: white;
  margin: 0 15px 15px 15px;
  border-radius: 5px;
}

.alert-banner a {
  text-decoration: none;
  color: #fff;
}

.bell-icon {
  position: relative;
}

.bell-icon:hover {
  -webkit-animation: ring 4s .1s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .1s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .1s ease-in-out infinite;
  transform-origin: 50% 4px;
}

.green-circle {
  width: 8px;
  height: 8px;
  background-color: #81c98f;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

nav {
  background-color: #4d4c72;
  text-align: center;
}

nav a {
  margin-left: 40px;
  text-decoration: none;
}

nav a img {
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  margin: 0;
}

h3 {
  color: grey;
}

.dashboard-header {
  padding-top: 20px;
}

.dashboard-header h2 {
  margin-bottom: 10px;
}

#traffic-chart {
  width: 90vw;
}

section,
.dashboard-header {
  padding-left: 0;
}

.section-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 20px;
}

.arrow {
  color: #4d4c72;
  margin-left: auto;
}

.svg-icon {
  fill: black;
  width: 50px;
}

input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 30px;
  background: #bdc3c7;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: #7377bf;
}

input[type="checkbox"]::before {
  z-index: 2;
  content: "";
  position: absolute;
  left: 8px;
  top: 6px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

input:checked[type="checkbox"]::before {
  left: 50px;
}

.toggle {
  position: relative;
  display: inline;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

label {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  pointer-events: none;
}

#timezone {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
}

.social-stats {
  padding: 35px 15px 0 15px;
}

.mobile-users h3,
.daily h3,
.social-stats h3 {
  margin: 0 auto 50px auto;
}

.on,
.off {
  font-family: Nunito, sans-serif;
  bottom: 10px;
}

.on {
  left: 8px;
}

.off {
  right: 10px;
  color: #333;
}

.widget-container,
.widget-container-half {
  width: 95%;
}

.widget-container .btn-primary {
  width: 100%;
}

.widget-container input,
.widget-container textarea {
  width: 100%;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  outline: none;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #fafafa;
}

.btn-primary {
  flex-basis: 50%;
  padding: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #7377bf;
  border: none;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #4d4c72;
}

.btn-disabled {
  flex-basis: 50%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: #b2b2b2;
  color: #fff;
}

.btn-disabled:hover {
  background-color: grey;
}

::placeholder {
  color: #b2b2b2;
}

.widget-container input {
  margin-bottom: 10px;
}

.traffic,
.social-stats {
  grid-column: 1 / span 2;
}

.traffic-content {
  position: relative;
  max-width: 100vw;
  margin: 0;
}

.social-stats {
  flex-direction: row;
}

section {
  padding-top: 50px;
  border-bottom: 1px solid #b2b2b2;
}

.traffic {
  padding-top: 0;
}

.settings {
  grid-column: 1 / span 2;
  padding: 15px 15px 0 15px;
}

.settings .settings-button {
  display: flex;
  margin-top: 15px;
}

canvas {
  margin-bottom: 50px;
}

.message,
.recent-activity,
.new-members {
  padding-bottom: 20px;
  padding-left: 20px;
}

.new-members {
  padding-right: 20px;
}

.new-members .date {
  margin-left: auto;
}

.recent-activity {
  padding-right: 20px;
}

.traffic-header,
.daily,
.mobile-users,
.new-members,
.recent-activity,
.message {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
}

.traffic-header h3,
.daily h3,
.mobile-users h3,
.new-members h3,
.recent-activity h3,
.message h3 {
  font-weight: 400;
}

.traffic-header .traffic-nav,
.daily .traffic-nav,
.mobile-users .traffic-nav,
.new-members .traffic-nav,
.recent-activity .traffic-nav,
.message .traffic-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0 20px 0;
}

.traffic-header .traffic-nav li,
.daily .traffic-nav li,
.mobile-users .traffic-nav li,
.new-members .traffic-nav li,
.recent-activity .traffic-nav li,
.message .traffic-nav li {
  padding-right: 12px;
}

.members,
.member-activity-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.members p,
.member-activity-container p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.members a,
.member-activity-container a {
  text-decoration: none;
  color: #4d4c72;
}

.members img,
.member-activity-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}

.member-activity img {
  width: 50px;
  border-radius: 50%;
}

.social-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.social-container {
  border: 1px solid #b2b2b2;
  display: flex;
  justify-content: center;
  padding: 15px 70px 15px 10px;
  margin: 0 0 30px 0;
  min-width: 31%;
}

.social-container .social-text {
  margin-left: 15px;
}

.social-container .social-nr {
  font-size: 2.3rem;
  font-weight: 100;
  color: #333;
}

.social-container .social-image {
  width: 70px;
  height: 70px;
  background-color: #7377bf;
  border-radius: 50%;
  padding: 20px;
  position: relative;
}

.social-container .svg-icon {
  fill: #fff;
  position: absolute;
  top: 23px;
  left: 21px;
}

.social-container .facebook-icon-svg {
  position: absolute;
  top: 16px;
  left: 7px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
}

main .dashboard-header {
  max-width: 100vw;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
}

main .dashboard-header h2 {
  color: grey;
  font-weight: 300;
  font-size: 1.2rem;
}

main .dashboard-header .dashboard-search input {
  padding: 10px;
  width: 80vw;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

main #alert {
  grid-column: 1 / span 2;
}

.dashboard-search {
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-col-2 h3 {
  color: #fff;
  font-weight: 400;
}

/* -------------
MEDIA QUERIES
------------- */
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "nav main";
  }
  nav a {
    margin-left: 0;
  }
  main {
    grid-template-columns: 50%;
  }
  main .traffic,
  main .social {
    grid-column: 1 / span 2;
  }
  main .daily,
  main .new-members,
  main .message {
    grid-column: 1 / span 1;
  }
  main .mobile-users,
  main .recent-activity,
  main .settings {
    grid-column: 2 / span 1;
  }
  .widget-container {
    width: 90%;
  }
  .widget-container-half {
    width: 80%;
  }
  .toggle-container {
    width: 100%;
  }
  .social-flex-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .social-stats,
  .new-members,
  .recent-activity,
  .message,
  .settings {
    padding: 20px;
  }
  .settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .settings .settings-button {
    margin-top: auto;
  }
  .settings .toggle-container {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 930px) {
  .dashboard-header,
  .alert,
  .traffic,
  .social {
    max-width: calc(100vw - 95px);
  }
  .daily,
  .mobile-users,
  .new-members,
  .recent-activity,
  .message,
  .settings {
    max-width: calc(50vw - 47.5px);
  }
}

@media screen and (min-width: 1024px) {
  header {
    z-index: 20;
    padding-left: 20px;
  }
  nav {
    position: fixed;
    padding-top: 80px;
    height: 100vh;
    width: 55px;
  }
  main .dashboard-header {
    flex-direction: row;
    justify-content: space-between;
  }
  main .dashboard-header .dashboard-search input {
    width: 60vh;
  }
  .traffic-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .message,
  .daily,
  .new-members {
    border-right: 1px solid #b2b2b2;
  }
  .members p.date {
    margin-left: auto;
  }
  .mobile-users h3,
  .daily h3,
  .social-stats h3 {
    margin: 0;
    padding-bottom: 20px;
  }
  .message,
  .settings {
    border-bottom: none;
    margin-bottom: 20px;
  }
  .recent-activity  {
    padding-left: 20px;
  }
  .member-activity-container {
    width: 90%;
  }
  .settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .settings .settings-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .social-stats,
  .settings,
  .dashboard-header {
    padding-right: 20px;
  }
  .dashboard-header {
    background-color: #fbfbfb;
    border-bottom: 1px solid #b2b2b2;
    height: 100px;
    position: relative;
    padding-top: 0;
    margin-top: 0;
  }
  .dashboard-header h2 {
    background-color: #fff;
    padding: 47px;
    border-right: 1px solid #b2b2b2;
    height: 100px;
    margin-bottom: 0;
  }
  section {
    padding-left: 20px;
    max-width: calc(100vw - 55px);
  }
  #timezone {
    width: 100%;
    border: 1px solid #b2b2b2;
    color: #b2b2b2;
  }
}
/*# sourceMappingURL=style.css.map */